.rounded-corners {
	border-radius: $rounded;
	margin:30px 0;
}
.border-rounded-left{
	border-radius: $roundleft !important;
}
.border-rounded-right{
	border-radius: $roundright !important;
}
.buttons__btn:hover{
background-color: $nickel;
}