// Colors

$white: #fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;
$fuzzywuzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;
$erieblack: #121619;
$raisinblack: #222323;
$nickel: #979a9c;


// Fonts

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;


// Font Size

$xx-large: 70px;
$x-large: 30px;
$large:18px;
$medium:16px;
$small:12px;


// Font Weight

$font-regular: 400;
$font-black: 900;


// Bordes redondeados
$rounded: 30px;
$roundleft:50px 0 0 50px;
$roundright:0 50px 50px 0;
