.post__content__date {
	font-family: $playfair;
	font-weight: $font-regular;
	margin:4rem 0;
	font-size: $large;

}
.post__content__entry p {
	line-height: 3em;
	font-size: $medium;
}	
.post__content__buttons{
	padding: 3rem 0;
}
	
	